<div class="form-group col-md-3">
    <img id="imgProduto{id}" class="img-rounded img-produtos" src="resources/img/9-Copy-1200x768.jpg"
         alt="Image" style="max-width:100%;">
    <h4 class="text-center">{nome}</h4>
    <h3 class="text-center"><small>R$ <span>{preco}</span></small></h3>
    <button type="button" class="btn btn-info btn-sm center-block">
        <i class="visible-xs glyphicon glyphicon-thumbs-up"></i> 
        <span class="visible-sm visible-md visible-lg">Gostei</span>
    </button>
</div>