<div class="shadow clip_frame colelem" id="u776"><!-- image -->
    <img class="block temp_no_img_src"
         src="images/blank.gif?crc=4208392903" 
         id="fotoDica{id}" 
         data-orig-src="images/39180932-hair-design.jpg?crc=3844756387" 
         data-hidpi-src="images/39180932-hair-design_2x.jpg?crc=275635220" 
         alt=""
         data-image-width="919" 
         data-image-height="491"/>
</div>
<div class="shadow clearfix colelem shared_content" id="u786-10" data-content-guid="u786-10_content"><!-- content -->
    <h2 id="u786-2">{titulo}</h2>
    <p id="u786-4">{descricao}</p>
</div>