<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="pt-BR">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Administrador</title>
    </head>
    <body>

        <fieldset>
            <!-- CADASTRO DICA -->
            <h2>Cadastro Dica</h2>
            <br><!-- ESPAÇO -->
            <label>ID</label>
            <input id="txIdDica" type="number" disabled value="0">
            <br>

            <label>Imagem</label>

            <!-- ***** ATENÇÃO: FORMULÁRIO COM INPUT FILE DENTRO ***** -->
            <form id="formUploadImgDica" enctype="multipart/form-data" method="post">
                <input id="inputFotoDica" type="file" accept="image/jpeg" name="file">
            </form>
            <br><!-- ESPAÇO -->

            <label>Título</label>
            <input id="txTituloDica" type="text">
            <br><!-- ESPAÇO -->

            <label>Descrição</label>
            <textarea id="txDescricaoDica" rows="3"></textarea>
            <br><!-- ESPAÇO -->

            <button type="button" id="btnSalvarDica">Salvar</button>

            <fieldset>
                <!-- GERENCIAMENTO DE DICA -->
                <h3>Gerenciameto de Dica</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tabela-dicas-administrador">
                        <!-- /componentes/item-tabela-dicas-administrador.html -->
                    </tbody>
                </table>
            </fieldset><!-- GERENCIAMENTO DE DICA -->
        </fieldset>

        
        
        
        
        <br><!-- ESPAÇO -->

        <fieldset>
            <!-- CADASTRO PRODUTO -->
            <h2>Cadastro Produto</h2>
            
            <label>ID</label>
            <input id="txIdProduto" type="number" value="0" disabled>
            <br><!-- ESPAÇO -->
            <label>Imagem</label>

            <!-- ***** ATENÇÃO: FORMULÁRIO COM INPUT FILE DENTRO ***** -->
            <form id="formUploadImgProduto" enctype="multipart/form-data" method="post">
                <input id="inputFotoProduto" accept="image/jpeg" type="file" name="file">
            </form>
            
            <br><!-- ESPAÇO -->

            <label>Nome</label>
            <input id="txNomeProduto" type="text">
            <br><!-- ESPAÇO -->

            <label>Descrição</label>
            <textarea id="txDescricaoProduto" rows="3"></textarea>
            <br><!-- ESPAÇO -->

            <label>Valor</label>
            <input id="txValorProduto" type="number">

            <button id="btnSalvarProduto" type="button">Salvar</button>

            <fieldset>
                <!-- GERENCIAMENTO DE PRODUTO -->
                <h3>Gerenciameto de Produto</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tabela-produtos-admin">
                        <!-- /componentes/item-tabela-produtos-administrador.html -->
                    </tbody>
                </table>
            </fieldset><!-- GERENCIAMENTO DE PRODUTO -->
        </fieldset>

        <script src="resources/js/commons.js"></script>
        <script src="resources/frameworks/js/jquery.js"></script>
        <script src="resources/frameworks/js/jquery-form.js"></script>
        <script src="resources/js/dica.js"></script>
        <script src="resources/js/produto.js"></script>
        <script src="resources/js/admin.js"></script>
    </body>
</html>
