<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="pt-BR">
    <head>

        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Cadastro</title>
    </head>
    <body>
        <h2>Entrar</h2>
        <form>
            <label>Email</label>
            <input type="email">
            <br><!-- ESPAÇO -->

            <label>Senha</label>
            <input type="password">
            <br><!-- ESPAÇO -->

            <button type="submit">Entrar</button>
        </form>
        <hr>

        <h2>Cadastrar</h2>
        <form>
            <label>Nome</label>
            <input type="text">
            <br><!-- ESPAÇO -->
            
            <label>Email</label>
            <input type="email">
            <br><!-- ESPAÇO -->

            <label>Senha</label>
            <input type="password">
            <br><!-- ESPAÇO -->
            
            <label>Confirmar senha</label>
            <input type="password">
            <br><!-- ESPAÇO -->

            <button type="submit">Cadastrar</button>
        </form>
        <hr>
    </body>
</html>
