<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="pt-BR">
    <head>

        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Cadastro</title>
    </head>
    <body>
        <h2>Entrar</h2>
        <label>Email</label>
        <input id="txEmailLogin" type="email">
        <br><!-- ESPAÇO -->

        <label>Senha</label>
        <input id="txSenhaLogin" type="password">
        <br><!-- ESPAÇO -->

        <button onclick="efatuarLogin()" type="button">Entrar</button>
        <hr>

        <h2>Cadastrar</h2>
        <label>Nome</label>
        <input id="txNomeUsuarioCadastro" type="text">
        <br><!-- ESPAÇO -->

        <label>Email</label>
        <input id="txEmailUsuarioCadastro" type="email">
        <br><!-- ESPAÇO -->

        <label>Senha</label>
        <input id="txSenhaUsuarioCadastro" type="password">
        <br><!-- ESPAÇO -->

        <label>Confirmar senha</label>
        <input id="txConfirmarSenhaUsuarioCadastro" type="password">
        <br><!-- ESPAÇO -->

        <button type="button" onclick="criarConta()">Cadastrar</button>
        <hr>

        <script src="resources/js/commons.js"></script>
        <script src="resources/frameworks/js/jquery.js"></script>
        <script src="resources/frameworks/js/jquery_cookie.js"></script>
        <script src="resources/js/cadastro.js"></script>
    </body>
</html>
