<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dicas</title>
    </head>
    <body>

        <div id="container-dicas">
            <!-- /componentes/item-listagem-dicas.html -->
        </div>

        <script src="resources/js/commons.js"></script>
        <script src="resources/frameworks/js/jquery.js"></script>
        <script src="resources/frameworks/js/jquery-form.js"></script>
        <script src="resources/js/dica.js"></script>

        <script>
            listarDicasPaginaListagem();
        </script>
    </body>
</html>
