<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="resources/frameworks/css/bootstrap.css">
    </head>
    <body>
        <div class="container-fluid">
           
            <h1 class="h1"> It's work!!! :) </h1>
            <input type="button" id="btnLogin" class="btn btn-primary" value="Login"/>
        </div>
  
        <script src="resources/frameworks/js/jquery.js"></script>
        <script src="resources/frameworks/js/bootstrap.js"></script>
        <script src="resources/js/home.js"></script>
    </body>
</html>
