<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Produtos</title>
    </head>
    <body>

        <div>
            <!-- IMAGEM AQUI -->
            <img src="" alt="Imagem do produto" width="200" height="200"/>
            <br>
            <!-- NOME AQUI -->
            <h2>{titulo aqui!}</h2>
            <br>
            <!-- DESCRIÇÃO AQUI -->
            <p>{descrição aqui!}</p>
            <br>
            <!-- VALOR AQUI -->
            <h4>R$ <span>00,00</span></h4>
            <!-- CURTIDA AQUI -->
            <button type="button">Curtir</button>
        </div>

    </body>
</html>
