<!DOCTYPE html>
<html class="nojs html css_verticalspacer" lang="pt-BR">
    <head>

        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Usuário</title>
    </head>
    <body>

        <form>
            <label>Nome</label>
            <input type="text">
            <br><!-- ESPAÇO -->

            <label>Email</label>
            <input type="email">
            <br><!-- ESPAÇO -->

            <label>Senha</label>
            <input type="password">
            <br><!-- ESPAÇO -->

            <label>Telefone</label>
            <input type="tel">
            <br><!-- ESPAÇO -->

            <label>Celular</label>
            <input type="tel">
            <hr>

            <h3>Endereço</h3>
            <br><!-- ESPAÇO -->

            <label>Rua</label>
            <input type="text">
            <br><!-- ESPAÇO -->

            <label>Número</label>
            <input type="number">
            <br><!-- ESPAÇO -->

            <label>Complemento</label>
            <input type="text">
            <br><!-- ESPAÇO -->

            <label>Bairro</label>
            <input type="text">
            <br><!-- ESPAÇO -->

            <label>Cidade</label>
            <input type="text">
            <br><!-- ESPAÇO -->

            <label>Cep</label>
            <input type="number">
            <hr>

            <button type="submit">Salvar</button>
        </form>
    </body>
</html>
